[submodule "third_party/basilisk/basilisk_submodule"]
	path = third_party/basilisk/basilisk_submodule
	url = https://github.com/tortotubus/pacific-basilisk.git
[submodule "third_party/hdf5/hdf5_submodule"]
	path = third_party/hdf5/hdf5_submodule
	url = https://github.com/HDFGroup/hdf5.git
[submodule "third_party/eigen/eigen_submodule"]
	path = third_party/eigen/eigen_submodule
	url = https://gitlab.com/libeigen/eigen.git
