[submodule "third_party/basilisk/basilisk_submodule"]
	path = third_party/basilisk/basilisk_submodule
	url = https://github.com/tortotubus/pacific-basilisk.git
[submodule "third_party/hdf5/hdf5_submodule"]
	path = third_party/hdf5/hdf5_submodule
	url = https://github.com/HDFGroup/hdf5.git
[submodule "third_party/eigen/eigen_submodule"]
	path = third_party/eigen/eigen_submodule
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/gtest/gtest_submodule"]
	path = third_party/gtest/gtest_submodule
	url = https://github.com/google/googletest.git
[submodule "third_party/ubcthesis/ubcthesis_submodule"]
	path = third_party/ubcthesis/ubcthesis_submodule
	url = https://gitlab.math.ubc.ca/colive/ubcthesis.git
[submodule "third_party/ubcbeamer/ubcbeamer"]
	path = third_party/ubcbeamer/ubcbeamer_submodule
	url = https://gitlab.math.ubc.ca/colive/ubcbeamer.git
