[submodule "docs/theme"]
	path = docs/theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "thirdparty/basilisk/gitmodule"]
	path = thirdparty/basilisk/basilisk_submodule
	url = https://github.com/tortotubus/pacific-basilisk.git
[submodule "thirdparty/hdf5/gitmodule"]
	path = thirdparty/hdf5/hdf5_submodule
	url = https://github.com/HDFGroup/hdf5.git
